# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
.venv/
ENV/

# Django
db.sqlite3
*.log
/static/
/media/

# Environment Variables
.env
.env.*
.env.local

# ==============================
# Frontend (React / Next / Node)
# ==============================
node_modules/
.next/
out/
build/

# ==============================
# Distribution / Packaging
# ==============================
dist/
*.egg-info/
.eggs/

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/
*.swp
*.swo
*~

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
